<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8">

            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Google Scrape {{dashCtrl.value}} Images</h3>
                </div>
                <div class="panel-body">
                    <div>
                        <div class="img-group" ng-repeat="num in dashCtrl.list" style="display: inline-block; width: 200px;">
                            <img src="/images/{{dashCtrl.value}}/{{dashCtrl.value + num}}.jpg" class="img-responsive" alt="{{dashCtrl.value + num}}.jpg">
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
</div>